<!-- Header -->
<header id="header">
    <div class="inner">
        <a href="http://localhost:52587" class="logo">introspect</a>
        <nav id="nav">
            
            <a href="/profile">Profile</a>
            <a href="/generic">Generic</a>
            <a href="/element">Elements</a>

        </nav>
    </div>
</header>
